<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>ASL-AI Project</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

  </head>

  <body class="text-center">

    <div class="d-flex justify-content-center">
        <div class="d-flex align-items-start flex-column">
            <h1> ASL Single/Word Project </h1>


        </div>

    </div>
    
  </body>

</html>